<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain Traveller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <header>
        <div class="container1">
            <a href="/" class="logo">
                <img src="/static/img1.ico" alt="Mountain Traveller logo" >
                <span>Learn-O-Pedia</span>
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('posts') }}">Blog</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Do you like mountains?</h1>
                <p>We do! Since 10 years we have been traveling all over the world to reach and conquer peaks. Now we want to share our experience with others. Each hike is a new challenge - buying equipment, renting hotels, planning a trip... On our blog, you will find tips on everything related to the mountains and reports on the approaches to individual peaks. Do you want to know more?</p>
                <div class="buttons">
                    <button class="btn">Login</button>
                    <button class="btn">Register</button>
                </div>
            </div>
            <div class="image">
                <img src="/static/img3.jpg" alt="Mountain road" width="500px" height="500px">
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 Mountain Traveller</p>
        </div>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>